:root {
  --vp-c-brand-1: #7c1c39;
  --vp-c-brand-2: #471238;
  --vp-c-brand-3: #7c1c39;
  --vp-c-bg-soft: #f5f5f2;
  --vp-button-alt-bg: #f5f5f2;
  --vp-sidebar-bg-color: #f5f5f2;
  --vp-button-alt-hover-bg: #dfdfd6;
  --vp-custom-block-tip-text: #155F3E;
  --vp-custom-block-tip-bg: rgba(66, 184, 131, 0.05);
  --vp-custom-block-tip-border: rgba(66, 184, 131, 0.5);
}

.VPNavBarTitle .logo {
  height: 36px;
  margin-bottom: 16px;
}

.vp-doc a.VPButton {
  text-decoration: none;
}

@media (min-width: 640px) {
  .VPHome .VPHero p.text {
    font-size: 44px;
  }
}

@media (min-width: 960px) {
  .VPHome .VPHero p.text {
    font-size: 52px;
  }

  .VPHome .VPHero .image-container {
    transform: translate(0, -32px);
  }
}

.VPContent .VPHome .VPHero {
  padding-bottom: 0;
}

.VPFooter .copyright {
  margin-top: 16px;
}

.wren-section-header h2 {
  margin: 0;
  border-top: none;
  font-size: 32px;
  line-height: 32px;
}

@media (max-width: 480px) {
  .wren-section-header h2 {
    font-size: 28px;
    line-height: 28px;
  }
}

.wren-section-header p {
  margin: 32px 0 0;
}
